<ion-header>
  <ion-toolbar color="primary">

    <ion-title>
      {{ pageTitle }}
    </ion-title>

    <ion-buttons slot="primary" [routerLink]="['/profile']">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="secondary" [routerLink]="['/media-upload']">
      <ion-button>
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
