/**
 * File contains input styles
 * Created by Tristan Mastrodicasa
 */

/* Extendable Layout Styles */

/*
.button {
    display: inline-block;
    text-align: center;
}

.button:hover {
    cursor: pointer;
}*/
