/**
 * Color definitions
 * Created by Tristan Mastrodicasa
 */

$level-color-1: #6c3b6c;
$level-color-2: #943ee4;
$level-color-3: #0000ff;
$level-color-4: #5F9F9F;
$level-color-5: #008000;
$level-color-6: #9acd32;
$level-color-7: #E1E100;
$level-color-8: #FFA500;
$level-color-9: #FF0000;

/* Level border colors */

.level-color-1 { border-color: #6c3b6c; }
.level-color-2 { border-color: #943ee4; }
.level-color-3 { border-color: #0000ff; }
.level-color-4 { border-color: #5F9F9F; }
.level-color-5 { border-color: #008000; }
.level-color-6 { border-color: #9acd32; }
.level-color-7 { border-color: #E1E100; }
.level-color-8 { border-color: #FFA500; }
.level-color-9 { border-color: #FF0000; }
