

<ion-header class="ion-padding-vertical">

    <ion-item lines="none">
      <ion-avatar slot="start" size="medium" class="ion-no-margin ion-margin-end">
        <img src="/assets/svg-img/default-profile-picture.svg">
      </ion-avatar>

      <ion-label>
        <h2>Tristan</h2>
        <p>@ghoststeam217</p>
      </ion-label>
    </ion-item>

</ion-header>

<ion-content>
  <ion-list lines="none">

    <ion-menu-toggle auto-hide="false">
      <ion-item [routerDirection]="'root'" [routerLink]="['/find-users']">
        <ion-icon name="person-add" slot="start" size="medium"></ion-icon>
        <ion-text>
          <h4>Find Users</h4>
        </ion-text>
      </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle auto-hide="false">
      <ion-item [routerDirection]="'root'" [routerLink]="['/followers']">
        <ion-icon name="globe" slot="start" size="medium"></ion-icon>
        <ion-text>
          <h4>Network</h4>
        </ion-text>
      </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle auto-hide="false">
      <ion-item [routerDirection]="'root'" [routerLink]="['/edit/profile']">
        <ion-icon name="create" slot="start" size="medium"></ion-icon>
        <ion-text>
          <h4>Edit Profile</h4>
        </ion-text>
      </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle auto-hide="false">
      <ion-item [routerDirection]="'root'" [routerLink]="['/edit/account']">
        <ion-icon name="settings" slot="start" size="medium"></ion-icon>
        <ion-text>
          <h4>Settings</h4>
        </ion-text>
      </ion-item>
    </ion-menu-toggle>

  </ion-list>
</ion-content>
