<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary" *ngIf="ownProfile">
      <ion-button [routerLink]="['/edit/account']">
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ profile.username }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-container-no-padding">

    <div class="white-card default-vertical-padding">

    	<ion-row>
    	  <ion-col text-center>
            <img class="avatar" src="{{ profile.photo }}" width="100px" height="100px">
    	  </ion-col>
    	</ion-row>

    	<ion-row>
    	  <ion-col text-center>
    		    <ion-label>
    	        <h1>{{ profile.firstName }}</h1>
    	      </ion-label>
    	  </ion-col>
    	</ion-row>

    	<ion-row>
    	  <ion-col>

          <ion-grid text-center>

            <ion-col>
      		    <ion-label>
      	    		<ion-icon name="star"></ion-icon>&nbsp;<span [appFormatNumber]="profile.influence"></span>
      	    	</ion-label>
            </ion-col>

            <ion-col >
      		    <ion-label>
      	    		 <ion-icon name="brush"></ion-icon>&nbsp;<span [appFormatNumber]="profile.contentNumber"></span>
      	    	</ion-label>
            </ion-col>

            <ion-col >
      		    <ion-label>
      	    		 <ion-icon name="person"></ion-icon>&nbsp;<span [appFormatNumber]="profile.followers"></span>
      	    	</ion-label>
            </ion-col>
          </ion-grid>

    	  </ion-col>
    	</ion-row>


      <ion-row justify-content-center *ngIf="ownProfile != null">

        <ion-button *ngIf="ownProfile" color="primary" class="follow" [routerLink]="['/edit/profile']">
          <ion-icon slot="start" name="create"></ion-icon>
          Edit Profile
        </ion-button>

        <ion-button *ngIf="!ownProfile && !profile.youAreFollowing" color="primary" class="follow" (click)="follow()">
          <ion-icon slot="start" name="person-add"></ion-icon>
          Follow
        </ion-button>

        <ion-button *ngIf="!ownProfile && profile.youAreFollowing" color="light" class="follow" (click)="unfollow()">
          <ion-icon slot="start" name="person-add"></ion-icon>
          Unfollow
        </ion-button>

      </ion-row>


    </div>

    <div class="default-vertical-padding">

      <app-content-card *ngFor="let card of posts"
        [cardData]="card"
      ></app-content-card>

    </div>

    <ion-infinite-scroll threshold="550px" (ionInfinite)="loadPosts($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crescent">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    </div>

</ion-content>
