<ion-tabs>

  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="meme-canvas-index">
      <ion-icon name="trending-up"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="toggleMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
