<div class="c-card c-card-bottom-margin">

  <div class="c-header clearfix">
    <div class="c-header-avatar">
      <img class="avatar-primary" src="/assets/svg-img/default-profile-picture.svg">
      <img class="avatar-secondary" src="/assets/svg-img/default-profile-picture.svg">
    </div>

    <div class="c-header-info">
      <div class="c-header-info-text-bar"><b>Tristan </b><span class="light">@ghoststeam217</span></div>
      <div class="c-header-info-text-bar"><span class="light">Jaseh @lookatme</span></div>
    </div>

  </div>

  <div class="c-content" text-center>
    <img tappable (click)="openMeme()" src="https://www.roberthompson.co.uk/meme-app/meme.jpg" width="500">
  </div>

  <div class="c-actions clearfix">
    <div class="star"><ion-icon class="star-icon" name="star"></ion-icon> 3.4k</div>
    <div class="time"><ion-icon class="time-icon" name="time"></ion-icon> 3 mins ago</div>
  </div>

</div>
