/**
 * File contains text specific styles
 * Created by Tristan Mastrodicasa
 */

 /* Variables */

$standard-font: Arial, Helvetica, sans-serif;

/* Extendable Layout Styles */

.standard-text {
  font-family: $standard-font;
  margin: 0;
  padding: 0;
}

.standard-list-title {
  font-family: $standard-font;
  font-size: 14px;
  font-weight: bold;
  color: #777777;
}

/* Native Tag Styles */
