<ion-item *ngIf="userItem != null" lines="none" class="ion-no-padding" [routerLink]="['/profile', userItem.id]" mode="md" detail="false">

  <ion-avatar slot="start">
    <img src="{{ userItem.photo }}">
    <div *ngIf="userItem.activeCanvases != null && userItem.activeCanvases != 0" class="canvas-number">{{ userItem.activeCanvases }}</div>
  </ion-avatar>

  <ion-label>
    <h3>{{ userItem.firstName }}</h3>
    <p><span class="light">@{{ userItem.username }}</span></p>
  </ion-label>

  <ion-note *ngIf="itemType == 'default'" slot="end" class="user-item-score">
    <span [appFormatNumber]="userItem.influence"></span>&nbsp;<ion-icon name="star" class="score-star"></ion-icon>
  </ion-note>

  <ion-button *ngIf="itemType == 'search' && !following" slot="end" size="small" color="primary" (click)="follow($event)">Follow</ion-button>
  <ion-button *ngIf="itemType == 'search' && following" slot="end" size="small" color="light" (click)="unfollow($event)">Following</ion-button>

</ion-item>
