<ion-header>
  <ion-toolbar color="primary">

    <!--<ion-buttons slot="start">
      <ion-button [routerLink]="['/network/search']">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>-->

    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/network/find-users']">
        <ion-icon name="person-add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Network
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-container-no-padding">

    <div class="white-card default-padding">

      <ion-row class="segment-padding" (ionChange)="segmentChanged($event)">
        <ion-segment mode="ios">
          <ion-segment-button mode="ios" value="follow-backs" checked>
            <ion-label>Follow Backs</ion-label>
          </ion-segment-button>
          <ion-segment-button mode="ios" value="following">
            <ion-label>Following</ion-label>
          </ion-segment-button>
          <ion-segment-button mode="ios" value="followers">
            <ion-label>Followers</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>

      <div *ngIf="myUserItem != undefined">

        <ion-label class="list-title">You</ion-label>

        <ion-row class="ion-padding-vertical">

          <app-user-item
            [userItem]="myUserItem"
            class="width-full"></app-user-item>

        </ion-row>

      </div>

      <div *ngIf="userItemList.length != 0">

        <ion-label class="list-title">Others</ion-label>

        <ion-row class="ion-padding-vertical">

          <app-user-item *ngFor="let user of userItemList | slice:0:(results * page)"
            [userItem]="user"
            class="width-full"></app-user-item>

        </ion-row>

        <ion-infinite-scroll threshold="150px" (ionInfinite)="showMoreUsers($event)">
          <ion-infinite-scroll-content
            loadingSpinner="crescent">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </div>

    </div>

  </div>

</ion-content>
