@import 'globals/ion-overrides';
@import 'globals/defaults';
@import 'helpers/colors';

span.light {
  color: $light-color;
}

.user-item-score {
  margin-left: 0;
  margin-right: -5px;
  color: #000;
  font-size: 15px;
}

.score-star {
  color: #DAA520;
  font-size: 21px;
  margin-bottom: -4px;
}

.canvas-number {
  position: absolute;
  width: auto;

  height: 15px;
  width: 12px;
  padding: 0 0 0 2px;

  left: 0;
  top: 0;

  line-height: 100%;
  font-weight: bold;
  font-size: 14px;

  color: #FFFFFF;
  background-color: #FF0000;
  border-radius: 5px;
}
