
$primary-color-1: var(--ion-color-meduim);

.meow {
  color: $primary-color-1;
}

.cardfooter{
	background-color:#ff9933;
	color: white;
	font-family: 'Lato-Light';
}

.colLeft{
	text-align: left;
}

.colRight{
	text-align: right;
}

.username{
	color: white;
}