<div class="white-card">

  <!-- Only one home feed for local community
  <ion-segment mode="ios" color="primary">
    <ion-segment-button mode="md" value="network" checked>
      <ion-label>Network</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="public">
      <ion-label>Public</ion-label>
    </ion-segment-button>
  </ion-segment>-->

</div>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Login to the site</ion-label>
      <ion-button (click)="yo()" fill="outline" slot="end">Login</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="Test" slot="start"></ion-icon>
      <ion-label>Test login status</ion-label>
      <ion-button (click)="test()" fill="outline" slot="end">Test</ion-button>
    </ion-item>
  </ion-card>

  <div class="card-container">

    <div class="default-vertical-padding">

      <app-content-card *ngFor="let card of posts"
        [cardData]="card"
      ></app-content-card>

    </div>

    <ion-infinite-scroll threshold="550px" (ionInfinite)="loadPosts($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crescent">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>
