@import 'globals/defaults';
@import 'globals/card';

.cardfooter{
	background-color:#ff9933;
	color: white;
	font-family: 'Lato-Light';
}

.colLeft{
	text-align: left;
}

.colRight{
	text-align: right;
}

.username{
	color: white;
}
