<app-back-button pageTitle="Settings"></app-back-button>

<ion-content>

  <div class="card-container">

    <div class="white-card default-padding">

      <ion-label class="list-title">Notifications</ion-label>

      <ion-item lines="none">
        Canvas invites
        <ion-toggle color="primary" slot="end"></ion-toggle>
      </ion-item>

      <ion-item lines="none">
        People you follow upload canvases
        <ion-toggle color="primary" slot="end"></ion-toggle>
      </ion-item>

      <ion-item lines="none">
        Users meme your canvas
        <ion-toggle color="primary" slot="end"></ion-toggle>
      </ion-item>

      <ion-item lines="none">
        Point increases
        <ion-toggle color="primary" slot="end"></ion-toggle>
      </ion-item>

      <div class="default-bottom-padding">
        <ion-label class="list-title">Misc</ion-label>
      </div>

      <ion-button (click)="logOut()" expand="block" color="danger">Log Out<ion-icon name="log-out" slot="start" mode="ios"></ion-icon></ion-button>

    </div>

  </div>

</ion-content>
