@import 'globals/defaults';
@import 'helpers/utility-classes';

.card {
  background-color: #fff;
  max-width: 500px;
}

.container {
  width: 100%;
  height: 100%;
}

.login-button {
  max-width: 300px;
  padding-top: 0;
}
