<div class="container" (click)="closeModal()">

  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">

      <ion-card class="card">
        <ion-card-header>
          <ion-card-title text-center>Login</ion-card-title>
        </ion-card-header>

        <img class="default-padding login-button" src="assets/svg-img/fb-login.svg" (click)="signInWithFB()">
        <img class="default-padding login-button" src="assets/svg-img/google-login.svg" (click)="signInWithGoogle()">

      </ion-card>

    </ion-row>
  </ion-grid>

</div>
