<app-back-button pageTitle="Find Users"></app-back-button>

<ion-content>

  <div class="card-container-no-padding">

    <div class="white-card default-padding">

      <ion-row class="ion-padding-bottom">
        <ion-searchbar
          mode="ios"
          placeholder="Search users"
          debounce="500"
          (ionChange)="search($event)"
          (ionInput)="clearResults()"
          class="ion-no-padding"></ion-searchbar>
      </ion-row>

      <ion-label class="list-title">Results</ion-label>

      <ion-row class="ion-padding-vertical">

        <app-user-item *ngFor="let user of userItemList | slice:0:(results * page)"
          [userItem]="user"
          itemType="search"
          class="width-full"></app-user-item>

      </ion-row>

      <ion-infinite-scroll threshold="150px" (ionInfinite)="showMoreUsers($event)">
        <ion-infinite-scroll-content
          loadingSpinner="crescent">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>

  </div>

</ion-content>
