<app-back-button pageTitle="Find Users"></app-back-button>

<ion-content>

  <div class="card-container-no-padding">

    <div class="white-card default-padding">

      <ion-row class="ion-padding-bottom">
        <ion-searchbar mode="ios" placeholder="Search users" class="ion-no-padding"></ion-searchbar>
      </ion-row>

      <ion-label class="list-title">Recommended</ion-label>

      <ion-row class="ion-padding-vertical">

        <app-user-item *ngFor="let user of userItemList"
          [userItem]="user"
          class="width-full"></app-user-item>

      </ion-row>

    </div>

  </div>

</ion-content>
