@import 'globals/defaults';
@import 'globals/text';
@import 'globals/card';
@import 'helpers/utility-classes';

.upload-file > .image {
  display: block;
  width: 80%;
  padding-top: 16px;
  margin: 0 auto;
  fill: var(--ion-color-medium);
}

.upload-file > .text {
  text-align: center;
  color: var(--ion-color-medium);
}
