<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/meme-create', canvasId]">
        <ion-icon name="brush"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ pageTitle }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-container-no-padding">

    <app-content-card *ngIf="canvasCard != null"
      [cardData]="canvasCard"
      cardView="canvas-view"
    ></app-content-card>

    <div *ngIf="canvasCard != null" class="default-padding">
      <ion-label class="list-title">Memes</ion-label>
    </div>

    <div>

      <app-content-card *ngFor="let card of memes | slice:0:(results * page)"
        [cardData]="card"
      ></app-content-card>

    </div>

    <ion-infinite-scroll threshold="550px" (ionInfinite)="showMoreMemes($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crescent">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>
